@model MVC_SYSTEM.ViewingModels.PagedList<MVC_SYSTEM.ViewingModels.tbl_Pkjmast>
@using MVC_SYSTEM.Class;

@{
    ViewBag.Title = "Worker Cost Center";
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
    GetConfig GetConfig = new GetConfig();

    AjaxOptions options = new AjaxOptions
    {
        HttpMethod = "Get",
        UpdateTargetId = "Details",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "UpdateProgress1"
    };
}

<script src="~/Asset/Scripts/jquery.unobtrusive-ajax.min.js"></script>

@section scripts{
    @Scripts.Render("~/Asset/Scripts/AjaxModal.js")
}

<style>
    #myModal1 .modal-dialog{
        width: 80%;
    }
</style>

<section class="content-wrapper main-content clear-fix">
    <div class="well bottom" style="padding-bottom:16px;">
        @using (Ajax.BeginForm("_WorkerCostCenter", "WorkerInfo", null, options, new { @id = "SearchDetails" }))
        {
        <div class="row">
            <div class="col-sm-8">
                @Html.Label("Worker Name/ID Search")
                @Html.TextBox("filter", null, htmlAttributes: new { @class = "form-control", placeholder = "Please Enter Worker ID or Worker Name", @id = "txtfilter" })
            </div>
            <div class="col-sm-2">
                @Html.Label("Cost Center Status")
                @Html.DropDownList("StatusList", null, htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="col-sm-2" style="padding-top:25px;">
                <input class="btn btn-primary btn-block" type="submit" name="Lihat" id="Lihat" value="@GlobalResEstate.btnView" onclick="return DisplayProgressMessage(this);" />
            </div>
        </div>
        }
    </div>

    <div class="well" style="margin-top:7px;">
        <div class="modal-body">
            <div class="panel panel-primary">
                <div class="panel-heading">Cost Center Registration</div>
                <div class="panel-body">
                    <div id="Details">
                        @Html.Action("_WorkerCostCenter")
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer col-md-12">
            @*<a data-modal1='' href=@Url.Action("_BangsaCreate", "Maintenance") class="btn btn-success" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResCorp.btnAdd</a>*@
            <a href=@Url.Action("Index", "WorkerInfo") class="btn btn-warning" role="button" onclick="return DisplayProgressMessage(this);">@GlobalResEstate.btnBack</a>
        </div>
    </div>
</section>

<!-- modal placeholder-->
<div id='myModal1' class='modal fade in'>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent1'></div>
        </div>
    </div>
</div>
